.container {
    width: 100%;
    padding: 0 16px;
    font-family: "Kanit", sans-serif;
    color: #000;

    @media (min-width: 376px) {
        padding: 0 32px;
    }

    @media (min-width: 768px) {
        padding: 0;
        width: 702px;
        margin: 0 auto;
    }

    @media (min-width: 968px) {
        width: 800px;
    }
}