.loader {
  animation: spin infinite 1s linear;
  height: 26px;
  width: 26px;
}

.loader_container {
  width: 26px;
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes spin {

  from { transform: rotate(0deg); }

  to { transform: rotate(360deg); }
}
