.input {
  padding: 12px 16px;
  border: 1px solid #6c63ff;
  border-radius: 8px;
  width: 100%;
  cursor: pointer;
}

.input::placeholder {
  color: #c3c1e5;
  font-size: 16px;
}

.input:focus {
  outline: #6c63ff66 2px solid;
}

.container {
  display: flex;
  position: relative;
}

.search_icon {
  position: absolute;
  top: 50%;
  right: 8px;
  transform: translateY(-50%);
}

.button {
  background-color: #6c63ff;
}
