.cart_container {
  padding: 18px 0;
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 100%;
  justify-content: space-between;
  background-color: transparent;
  border: none;
}

.cart_container:not(:last-of-type) {
  border-bottom: 1px solid  #6c63ff;
}

.notes {
  display: flex;
  align-items: center;
  gap: 18px;
  font-size: 20px;
  overflow: hidden;
}

.icons {
  display: flex;
  gap: 8px;
}

.title {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.cart_container.checked .icons {
  display: none;
}

.cart_container.checked .title {
  color: #25252580;
  text-decoration: line-through;
}
